*,
* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.mermaid {
  border: 1px solid grey;
  padding: 2em;
  display: grid;
  background: #efefef;
  svg {
    margin: auto;
    width: 50%;
  }
}
