/* Parallel-flow demo css */
:root {
  --pagedjs-baseline: 16px;
}
body {
  /* hyphens: auto; */
  /* hyphenate-character: 10 10 4; */
}

section {
  p:first-child {
    margin-top: 0;
  }
}

section p {
  margin: 0;
}

@page {
  margin: 10mm;
  size: 200mm 210mm;
  @bottom-center {
    content: counter(page);
  }
}

h2 {
  margin-top: 0;
}

p {
  line-height: 16px;
}
section {
  break-before: page;
}

section.a {
  /*parallel-flow: name,  this will trigger the parallel-flow script*/
  --parallel-flow: alpha;

  color: green;
  width: 40mm;
}

section.b {
  /*parallel-flow: name,  this will trigger the parallel-flow script*/
  --parallel-flow: alpha;
  font-size: 8px;
  page: section-b;
  border-right: 2em solid red;
  width: 60mm;
  margin-left: auto;
  color: orange;
}

section.c {
  width: 40mm;
  margin-left: 60mm;
  color: darkgoldenrod;
  /* margin-left: auto; */
  --parallel-flow: alpha;
}

section.d h1 {
  break-before: page;
}

section {
  break-before: page;
}

#porco {
  width: 200%;
  height: auto;
  --parallel-impact: all;
}

h2 {
  --paged-parallel-sync: alpha;
  /* /* --paged-parallel-sync: alpha, .parallel flow h2, .another parallel flow selector h2; maybe in the future
  /* break-before: page; */
}
