:root {
  --pagedjs-baseline: 20px;
  --pagedjs-baseline-position: -4px;
}
p {
  margin: 0;
  line-height: 20px;
}
p,
figcaption {
  --paged-push-to-baseline: 20px;
  line-height: 20px;
}
img {
  object-fit: cover;
  width: 100%;
  max-width: 100%;
  height: calc(var(--baseline) * 20.5);
  margin-bottom: 1.3em;
}
