h1 {
  break-before: page;
}

@page {
  margin-right: 80mm;
}

body {
}

.footnote {
  --paged-note-type: marginblock;
  font-size: 12px;
  font-weight: 300;
  /* position: absolute; */

  right: -60mm;
}

.footnote-ref {
  color: red;
}

.noteblock {
  display: block;
  max-width: 40mm;
  /* font-size: 12px; */
}

.onmargin {
  position: absolute;
  right: -60mm;
  width: 80mm;
}
