@page {
  @top-left {
    content: "Running Headers and Footers";
  }
  @top-right {
    content: "Page " counter(page);
  }
  @bottom-center {
    content: string(title);
  }
}

h1 {
  string-set: title content();
}
