figure#fig1 {
  --paged-merge: #fig4;
}

figure {
  background: orange;
  margin: 0;
  padding: 0;
}
img {
  display: block;
  width: 100%;
}

.paged-merged-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 3em;
}
