section {
  break-before: page;
}

:root {
  --color-marginBox: transparent !important;
}

@page {
  size: 105mm 148.5mm;
  @top-right-corner {
    content: counter(pages);
  }

  @top-right {
    content: "oh yeah";
  }
  @top-left {
    content: "top left";
  }
  @bottom-left {
    content: counter(page);
  }
}
