section {
  break-before: page;
}

@page {
  size: A6;
  @top-right-corner {
    content: counter(pages);
  }

  @top-right {
    content: "oh yeah";
  }
  @top-left {
    content: "top left";
  }
  @bottom-left {
    content: counter(page);
  }
}
